{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.quickpay.net/docs/v10/"
    }
  ],
  "info": {
    "title": "Quickpay API v10",
    "version": "10.0",
    "description": "<h2 id=\"authorization\">Authorization</h2>\n\n<p>Authorization is done using basic-auth. Authorization can be done with a user or an agreement.</p>\n\n<ul>\n  <li>When authorized with a user one is able to edit own settings, create new merchant or request access to existing merchant.</li>\n  <li>When authorized with an agreement one is able to perform anything on the account that agreement gives permissions to.</li>\n</ul>\n\n",
    "contact": {
      "email": "support@quickpay.net"
    },
    "termsOfService": "http://quickpay.net/terms"
  },
  "tags": [
    {
      "name": "account",
      "description": "Operations about accounts"
    },
    {
      "name": "acl-resources",
      "description": "Operations about acl-resources"
    },
    {
      "name": "acquirers",
      "description": "Operations about acquirers"
    },
    {
      "name": "activity",
      "description": "Operations about activities"
    },
    {
      "name": "agreements",
      "description": "Operations about agreements"
    },
    {
      "name": "brandings",
      "description": "Operations about brandings"
    },
    {
      "name": "cards",
      "description": "Operations about cards"
    },
    {
      "name": "changelog",
      "description": "Operations about changelogs"
    },
    {
      "name": "cryptography",
      "description": "Operations about cryptographies"
    },
    {
      "name": "fees",
      "description": "Operations about fees"
    },
    {
      "name": "fraud-rulesets",
      "description": "Operations about fraud-rulesets"
    },
    {
      "name": "operational-status",
      "description": "Operations about operational-statuses"
    },
    {
      "name": "payment-method-priority",
      "description": "Operations about payment-method-priorities"
    },
    {
      "name": "payments",
      "description": "Operations about payments"
    },
    {
      "name": "payouts",
      "description": "Operations about payouts"
    },
    {
      "name": "ping",
      "description": "Operations about pings"
    },
    {
      "name": "subscription-groups",
      "description": "Operations about subscription-groups"
    },
    {
      "name": "subscriptions",
      "description": "Operations about subscriptions"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "GET-account---format-",
        "summary": "Get merchant account",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "account"
        ],
        "operationId": "PATCH-account---format-",
        "summary": "Update merchant account",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_address[name]": {
                    "description": "<p>Name</p>\n",
                    "type": "string"
                  },
                  "customer_address[att]": {
                    "description": "<p>Att</p>\n",
                    "type": "string"
                  },
                  "customer_address[street]": {
                    "description": "<p>Street</p>\n",
                    "type": "string"
                  },
                  "customer_address[city]": {
                    "description": "<p>City</p>\n",
                    "type": "string"
                  },
                  "customer_address[zip_code]": {
                    "description": "<p>Zip code</p>\n",
                    "type": "string"
                  },
                  "customer_address[region]": {
                    "description": "<p>Region</p>\n",
                    "type": "string"
                  },
                  "customer_address[country_code]": {
                    "description": "<p>Three letter country code according to ISO 3166-1 Alpha-3</p>\n",
                    "type": "string"
                  },
                  "customer_address[vat_no]": {
                    "description": "<p>VAT registration number</p>\n",
                    "type": "string"
                  },
                  "billing_address[name]": {
                    "description": "<p>Name</p>\n",
                    "type": "string"
                  },
                  "billing_address[att]": {
                    "description": "<p>Att</p>\n",
                    "type": "string"
                  },
                  "billing_address[street]": {
                    "description": "<p>Street</p>\n",
                    "type": "string"
                  },
                  "billing_address[city]": {
                    "description": "<p>City</p>\n",
                    "type": "string"
                  },
                  "billing_address[zip_code]": {
                    "description": "<p>Zip code</p>\n",
                    "type": "string"
                  },
                  "billing_address[region]": {
                    "description": "<p>Region</p>\n",
                    "type": "string"
                  },
                  "billing_address[country_code]": {
                    "description": "<p>Three letter country code according to ISO 3166-1 Alpha-3</p>\n",
                    "type": "string"
                  },
                  "billing_address[vat_no]": {
                    "description": "<p>VAT registration number</p>\n",
                    "type": "string"
                  },
                  "callback_url": {
                    "description": "<p>Callback url</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[bambora][active]": {
                    "description": "<p>Enable Bambora payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[bambora][identification_code]": {
                    "description": "<p>Bambora identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[bambora][identification_code_int]": {
                    "description": "<p>Bambora international identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[bambora][business_code]": {
                    "description": "<p>Business code (assigned by Bambora)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[bambora][recurring]": {
                    "description": "<p>Enable recurring payments (requires agreement with Bambora)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[bambora][americanexpress]": {
                    "description": "<p>Enable AMEX payments (requires agreement with Bambora)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[bambora][dinersclub]": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Bambora)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[bambora][securepay]": {
                    "description": "<p>Enable SecurePay fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[bambora][visa_mpi_merchant_id]": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[bambora][mastercard_mpi_merchant_id]": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[bambora][visa_bin]": {
                    "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[bambora][mastercard_bin]": {
                    "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[clearhaus][active]": {
                    "description": "<p>Enable ClearHaus payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[clearhaus][api_key]": {
                    "description": "<p>Clearhaus API key (is required but may be left empty)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[clearhaus][recurring]": {
                    "description": "<p>Enable recurring payments (requires agreement with Clearhaus)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[clearhaus][payout]": {
                    "description": "<p>Enable payouts (requires agreement with Clearhaus)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[clearhaus][apple_pay]": {
                    "description": "<p>Enable Apple Pay (requires agreement with Clearhaus)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[elavon][active]": {
                    "description": "<p>Enable Elavon payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[elavon][identification_code]": {
                    "description": "<p>Elavon identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[elavon][identification_code_int]": {
                    "description": "<p>Elavon international identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[elavon][business_code]": {
                    "description": "<p>Business code (assigned by Elavon)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[elavon][recurring]": {
                    "description": "<p>Enable recurring payments (requires agreement with Elavon)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[elavon][americanexpress]": {
                    "description": "<p>Enable AMEX payments (requires agreement with Elavon)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[elavon][dinersclub]": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Elavon)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[elavon][securepay]": {
                    "description": "<p>Enable SecurePay fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[elavon][visa_mpi_merchant_id]": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[elavon][mastercard_mpi_merchant_id]": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[elavon][visa_bin]": {
                    "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[elavon][mastercard_bin]": {
                    "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[handelsbanken][active]": {
                    "description": "<p>Enable Handelsbanken payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[handelsbanken][identification_code]": {
                    "description": "<p>Handelsbanken identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[handelsbanken][identification_code_int]": {
                    "description": "<p>Handelsbanken international identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[handelsbanken][business_code]": {
                    "description": "<p>Business code (assigned by Handelsbanken)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[handelsbanken][recurring]": {
                    "description": "<p>Enable recurring payments (requires agreement with Handelsbanken)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[handelsbanken][americanexpress]": {
                    "description": "<p>Enable AMEX payments (requires agreement with Handelsbanken)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[handelsbanken][dinersclub]": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Handelsbanken)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[handelsbanken][securepay]": {
                    "description": "<p>Enable SecurePay fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[handelsbanken][visa_mpi_merchant_id]": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[handelsbanken][mastercard_mpi_merchant_id]": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[handelsbanken][visa_bin]": {
                    "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[handelsbanken][mastercard_bin]": {
                    "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[klarna][active]": {
                    "description": "<p>Enable Klarna payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[klarna][eid]": {
                    "description": "<p>Klarna merchant ID</p>\n",
                    "type": "integer",
                    "format": "int32"
                  },
                  "acquirer_settings[klarna][shared_secret]": {
                    "description": "<p>Klarna shared secret</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[mobilepay][active]": {
                    "description": "<p>Enable MobilePay payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[mobilepay][delivery_limited_to]": {
                    "description": "<p>Limit MobilePay delivery address selection to theses countries. (ISO 3166-1 alpha-2 without delimiter ‘DKNOSEFI’) (Valid options are DK,NO,SE,FI)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[mobilepaysubscriptions][active]": {
                    "description": "<p>Enable MobilePay Subscriptions payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[mobilepaysubscriptions][auth_state]": {
                    "description": "<p>Identifier MobilePay Subscriptions uses to link requests to callbacks</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[mobilepaysubscriptions][code_verifier]": {
                    "description": "<p>Verifies received code challenge</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[mobilepaysubscriptions][last_token_refresh]": {
                    "description": "<p>Unix Timestamp of last time the tokens were refreshed</p>\n",
                    "type": "integer",
                    "format": "int32"
                  },
                  "acquirer_settings[mobilepaysubscriptions][nonce]": {
                    "description": "<p>Associate client sessions with ID Tokens to mitigate replay attacks</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[mobilepaysubscriptions][pending_status]": {
                    "description": "<p>0: agreement inactive, 1: flow initialised, 2: tokens received, 3: flow completed</p>\n",
                    "type": "integer",
                    "format": "int32",
                    "default": 0
                  },
                  "acquirer_settings[mobilepaysubscriptions][provider]": {
                    "description": "<p>The provider / sales-place chosen by the merchant</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[mobilepaysubscriptions][refresh_token]": {
                    "description": "<p>Token to refresh access token for up to 1 year</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[nets][active]": {
                    "description": "<p>Enable Nets/Teller payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[nets][identification_code]": {
                    "description": "<p>Nets TOF number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[nets][business_code]": {
                    "description": "<p>Business code (assigned by Nets)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[nets][recurring]": {
                    "description": "<p>Enable recurring payments (requires agreement with Nets)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[nets][fbg1886]": {
                    "description": "<p>Enable Forbrugsforeningen payments (requires agreement with Nets and Forbrugsforeningen)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[nets][secured_by_nets]": {
                    "description": "<p>Enable SecuredByNets fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[nets][identification_code_int]": {
                    "description": "<p>(Depricated; use Teller acquirer)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[nets][americanexpress]": {
                    "description": "<p>(Depricated; use Teller acquirer)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[nets][dinersclub]": {
                    "description": "<p>(Depricated; use Teller acquirer)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[nets][securepay]": {
                    "description": "<p>(Depricated; use Teller acquirer)</p>\n",
                    "type": "boolean",
                    "default": true
                  },
                  "acquirer_settings[nets][visa_bin]": {
                    "description": "<p>(Depricated; use Teller acquirer)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[nets][mastercard_bin]": {
                    "description": "<p>(Depricated; use Teller acquirer)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[paypal][active]": {
                    "description": "<p>Enable PayPal payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[paypal][recurring]": {
                    "description": "<p>Enable recurring payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[paypal][credit_card]": {
                    "description": "<p>Allow credit-card payments. (Only for US/CA/UK merchants)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[paypal][token]": {
                    "description": "<p>Authentication token</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[paypal][token_secret]": {
                    "description": "<p>Authentication token secret</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[paypal][scope]": {
                    "description": "<p>Authentication scope</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[sofort][active]": {
                    "description": "<p>Enable Sofort payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[sofort][customer_number]": {
                    "description": "<p>Sofort customer number</p>\n",
                    "type": "integer",
                    "format": "int32"
                  },
                  "acquirer_settings[sofort][project_id]": {
                    "description": "<p>Sofort Gateway project id</p>\n",
                    "type": "integer",
                    "format": "int32"
                  },
                  "acquirer_settings[sofort][api_key]": {
                    "description": "<p>Sofort API key</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[sofort][gateway]": {
                    "description": "<p>Enable Sofort Gateway feature</p>\n",
                    "type": "boolean",
                    "default": true
                  },
                  "acquirer_settings[sofort][ideal]": {
                    "description": "<p>Enable Sofort iDeal feature</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[sofort][ideal_project_id]": {
                    "description": "<p>Sofort iDeal project id</p>\n",
                    "type": "integer",
                    "format": "int32"
                  },
                  "acquirer_settings[sofort][ideal_project_password]": {
                    "description": "<p>Sofort iDeal project password</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[sofort][ideal_notification_password]": {
                    "description": "<p>Sofort iDeal notification password</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[swedbank][active]": {
                    "description": "<p>Enable Swedbank payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[swedbank][identification_code]": {
                    "description": "<p>Swedbank identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[swedbank][identification_code_int]": {
                    "description": "<p>Swedbank international identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[swedbank][business_code]": {
                    "description": "<p>Business code (assigned by Swedbank)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[swedbank][recurring]": {
                    "description": "<p>Enable recurring payments (requires agreement with Swedbank)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[swedbank][americanexpress]": {
                    "description": "<p>Enable AMEX payments (requires agreement with Swedbank)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[swedbank][dinersclub]": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Swedbank)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[swedbank][securepay]": {
                    "description": "<p>Enable SecurePay fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[swedbank][visa_mpi_merchant_id]": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[swedbank][mastercard_mpi_merchant_id]": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[swedbank][visa_bin]": {
                    "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[swedbank][mastercard_bin]": {
                    "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[teller][active]": {
                    "description": "<p>Enable Teller payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[teller][identification_code]": {
                    "description": "<p>Teller TOF number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[teller][identification_code_int]": {
                    "description": "<p>Teller international identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[teller][business_code]": {
                    "description": "<p>Business code (assigned by Teller)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[teller][recurring]": {
                    "description": "<p>Enable recurring payments (requires agreement with Teller)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[teller][americanexpress]": {
                    "description": "<p>Enable AMEX payments (requires agreement with Teller)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[teller][dinersclub]": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Teller)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[teller][securepay]": {
                    "description": "<p>Enable SecurePay fraud protection. (disabling requires agreement with Teller)</p>\n",
                    "type": "boolean",
                    "default": true
                  },
                  "acquirer_settings[teller][visa_mpi_merchant_id]": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[teller][mastercard_mpi_merchant_id]": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[teller][visa_bin]": {
                    "description": "<p>Teller VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[teller][mastercard_bin]": {
                    "description": "<p>Teller Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[valitor][active]": {
                    "description": "<p>Enable Valitor payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[valitor][identification_code]": {
                    "description": "<p>Valitor identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[valitor][identification_code_int]": {
                    "description": "<p>Valitor international identification number</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[valitor][business_code]": {
                    "description": "<p>Business code (assigned by Valitor)</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[valitor][recurring]": {
                    "description": "<p>Enable recurring payments (requires agreement with Valitor)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[valitor][americanexpress]": {
                    "description": "<p>Enable AMEX payments (requires agreement with Valitor)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[valitor][dinersclub]": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Valitor)</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[valitor][securepay]": {
                    "description": "<p>Enable SecurePay fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[valitor][visa_mpi_merchant_id]": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[valitor][mastercard_mpi_merchant_id]": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[valitor][visa_bin]": {
                    "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[valitor][mastercard_bin]": {
                    "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "acquirer_settings[viabill][active]": {
                    "description": "<p>Enable ViaBill payments</p>\n",
                    "type": "boolean"
                  },
                  "acquirer_settings[viabill][api_key]": {
                    "description": "<p>ViaBill API key</p>\n",
                    "type": "string"
                  },
                  "integration_settings[economic][active]": {
                    "description": "<p>Enable e-conomic integration</p>\n",
                    "type": "boolean"
                  },
                  "integration_settings[economic][agreement]": {
                    "description": "<p>e-conomic agreement no.</p>\n",
                    "type": "string"
                  },
                  "integration_settings[economic][agreement_token]": {
                    "description": "<p>economic agreement grant token</p>\n",
                    "type": "string"
                  },
                  "pci[saq_a]": {
                    "description": "<p>Enable SAQ A</p>\n",
                    "type": "boolean"
                  },
                  "pci[saq_a_ep]": {
                    "description": "<p>Enable SAQ A-EP</p>\n",
                    "type": "boolean"
                  },
                  "pci[saq_b]": {
                    "description": "<p>Enable SAQ B</p>\n",
                    "type": "boolean"
                  },
                  "pci[saq_b_ip]": {
                    "description": "<p>Enable SAQ B-IP</p>\n",
                    "type": "boolean"
                  },
                  "pci[saq_c]": {
                    "description": "<p>Enable SAQ C</p>\n",
                    "type": "boolean"
                  },
                  "pci[saq_c_vt]": {
                    "description": "<p>Enable SAQ C-VT</p>\n",
                    "type": "boolean"
                  },
                  "pci[saq_d_merchant]": {
                    "description": "<p>Enable SAQ D Merchant</p>\n",
                    "type": "boolean"
                  },
                  "pci[saq_d_service_provider]": {
                    "description": "<p>Enable SAQ D Service Provider</p>\n",
                    "type": "boolean"
                  },
                  "pci[saq_p2pe_hw]": {
                    "description": "<p>Enable SAQ P2PE-HW</p>\n",
                    "type": "boolean"
                  },
                  "autofee": {
                    "description": "<p>Add automatic fee on all payments</p>\n",
                    "type": "boolean"
                  },
                  "default_payment_methods": {
                    "description": "<p>Comma separated list of default payment methods</p>\n",
                    "type": "string"
                  },
                  "shop_url": {
                    "description": "<p>Shop URL (deprecated, use shop_urls instead)</p>\n",
                    "type": "string"
                  },
                  "shop_urls": {
                    "description": "<p>Shop URLs</p>\n",
                    "type": "string"
                  },
                  "contact_email": {
                    "description": "<p>Contact email</p>\n",
                    "type": "string"
                  },
                  "shop_name": {
                    "description": "<p>Shop name</p>\n",
                    "type": "string"
                  },
                  "shopsystem": {
                    "description": "<p>Shop system</p>\n",
                    "type": "string"
                  },
                  "timezone": {
                    "description": "<table>\n  <tbody>\n    <tr>\n      <td>Timezone UTC offsets in Zulu (+</td>\n      <td>-)hh:mm</td>\n    </tr>\n  </tbody>\n</table>\n",
                    "type": "string"
                  },
                  "locale": {
                    "description": "<p>Locale as a two letter language code</p>\n",
                    "type": "string"
                  },
                  "default_branding_id": {
                    "description": "<p>Id of default branding</p>\n",
                    "type": "integer",
                    "format": "int32"
                  },
                  "logging_stops_at": {
                    "description": "<p>Timestamp when logging is active</p>\n",
                    "type": "string"
                  },
                  "allow_test_transactions": {
                    "description": "<p>Allow test transactions</p>\n",
                    "type": "boolean"
                  },
                  "default_payment_language": {
                    "description": "<p>Default payment language (Two letter language code, ISO-639-1)</p>\n",
                    "type": "string"
                  },
                  "default_text_on_statement": {
                    "description": "<p>Text to be displayed on cardholder’s statement. Max 22 ASCII chars. Currently supported by Clearhaus only.</p>\n",
                    "type": "string"
                  },
                  "default_branding_config": {
                    "description": "<p>Default branding config. Can be overwritten in branding or in request to payment window</p>\n",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "account"
        ],
        "operationId": "DELETE-account---format-",
        "summary": "Delete merchant account",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "No content"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/account/private-key": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "GET-account-private-key---format-",
        "summary": "Gets the private key of the merchant",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateKey"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateKey"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateKey"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateKey"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "account"
        ],
        "operationId": "PATCH-account-private-key---format-",
        "summary": "Regenerates the private key of the merchant",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateKey"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateKey"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateKey"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateKey"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/account/04-platform": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "GET-account-04-platform---format-",
        "summary": "Get 04 platform settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Zero4PlatformSettings"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zero4PlatformSettings"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Zero4PlatformSettings"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Zero4PlatformSettings"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "delete": {
        "tags": [
          "account"
        ],
        "operationId": "DELETE-account-04-platform---format-",
        "summary": "Delete 04 platform settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Zero4PlatformSettings"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zero4PlatformSettings"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Zero4PlatformSettings"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Zero4PlatformSettings"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/account/logo": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "GET-account-logo---format-",
        "summary": "Gets the merchant logo as a raw download or a 404 if none exists",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "<p>Type of logo</p>\n",
            "name": "logo_type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "payment_window",
                "mobilepay"
              ],
              "default": "payment_window"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "tags": [
          "account"
        ],
        "operationId": "PUT-account-logo---format-",
        "summary": "Creates or replaces the current merchant logo",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Invalid parameters"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "description": "<p>The logo as a multipart file. If the logo_type is ‘mobilepay’, the logo must be a 250px x 250px PNG file</p>\n",
                    "type": "string"
                  },
                  "logo_type": {
                    "description": "<p>Type of logo</p>\n",
                    "type": "string",
                    "enum": [
                      "payment_window",
                      "mobilepay"
                    ],
                    "default": "payment_window"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "account"
        ],
        "operationId": "DELETE-account-logo---format-",
        "summary": "Deletes the current merchant logo",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "<p>Type of logo</p>\n",
            "name": "logo_type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "payment_window",
                "mobilepay"
              ],
              "default": "payment_window"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/acquirers": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers---format-",
        "summary": "Fetch acquirers",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettings"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettings"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettings"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettings"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/bambora": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-bambora---format-",
        "summary": "Get Bambora acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsBambora"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsBambora"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsBambora"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsBambora"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-bambora---format-",
        "summary": "Update Bambora acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsBambora"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsBambora"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsBambora"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsBambora"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable Bambora payments</p>\n",
                    "type": "boolean"
                  },
                  "identification_code": {
                    "description": "<p>Bambora identification number</p>\n",
                    "type": "string"
                  },
                  "identification_code_int": {
                    "description": "<p>Bambora international identification number</p>\n",
                    "type": "string"
                  },
                  "business_code": {
                    "description": "<p>Business code (assigned by Bambora)</p>\n",
                    "type": "string"
                  },
                  "recurring": {
                    "description": "<p>Enable recurring payments (requires agreement with Bambora)</p>\n",
                    "type": "boolean"
                  },
                  "americanexpress": {
                    "description": "<p>Enable AMEX payments (requires agreement with Bambora)</p>\n",
                    "type": "boolean"
                  },
                  "dinersclub": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Bambora)</p>\n",
                    "type": "boolean"
                  },
                  "securepay": {
                    "description": "<p>Enable SecurePay fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "visa_mpi_merchant_id": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "mastercard_mpi_merchant_id": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "visa_bin": {
                    "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "mastercard_bin": {
                    "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/clearhaus": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-clearhaus---format-",
        "summary": "Get Clearhaus acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsClearhaus"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsClearhaus"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsClearhaus"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsClearhaus"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-clearhaus---format-",
        "summary": "Update Clearhaus acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsClearhaus"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsClearhaus"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsClearhaus"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsClearhaus"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable ClearHaus payments</p>\n",
                    "type": "boolean"
                  },
                  "api_key": {
                    "description": "<p>Clearhaus API key (is required but may be left empty)</p>\n",
                    "type": "string"
                  },
                  "recurring": {
                    "description": "<p>Enable recurring payments (requires agreement with Clearhaus)</p>\n",
                    "type": "boolean"
                  },
                  "payout": {
                    "description": "<p>Enable payouts (requires agreement with Clearhaus)</p>\n",
                    "type": "boolean"
                  },
                  "apple_pay": {
                    "description": "<p>Enable Apple Pay (requires agreement with Clearhaus)</p>\n",
                    "type": "boolean"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/coinify": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-coinify---format-",
        "summary": "Get Coinify acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsCoinify"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsCoinify"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsCoinify"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsCoinify"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-coinify---format-",
        "summary": "Update Coinify acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsCoinify"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsCoinify"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsCoinify"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsCoinify"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable Coinify Bitcoin payments</p>\n",
                    "type": "boolean"
                  },
                  "api_key": {
                    "description": "<p>Coinify API key</p>\n",
                    "type": "string"
                  },
                  "api_secret": {
                    "description": "<p>Coinify API secret</p>\n",
                    "type": "string"
                  },
                  "ipn_secret": {
                    "description": "<p>Coinify IPN secret (recommended)</p>\n",
                    "type": "string"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/elavon": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-elavon---format-",
        "summary": "Get Elavon acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsElavon"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsElavon"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsElavon"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsElavon"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-elavon---format-",
        "summary": "Update Elavon acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsElavon"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsElavon"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsElavon"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsElavon"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable Elavon payments</p>\n",
                    "type": "boolean"
                  },
                  "identification_code": {
                    "description": "<p>Elavon identification number</p>\n",
                    "type": "string"
                  },
                  "identification_code_int": {
                    "description": "<p>Elavon international identification number</p>\n",
                    "type": "string"
                  },
                  "business_code": {
                    "description": "<p>Business code (assigned by Elavon)</p>\n",
                    "type": "string"
                  },
                  "recurring": {
                    "description": "<p>Enable recurring payments (requires agreement with Elavon)</p>\n",
                    "type": "boolean"
                  },
                  "americanexpress": {
                    "description": "<p>Enable AMEX payments (requires agreement with Elavon)</p>\n",
                    "type": "boolean"
                  },
                  "dinersclub": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Elavon)</p>\n",
                    "type": "boolean"
                  },
                  "securepay": {
                    "description": "<p>Enable SecurePay fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "visa_mpi_merchant_id": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "mastercard_mpi_merchant_id": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "visa_bin": {
                    "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "mastercard_bin": {
                    "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/handelsbanken": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-handelsbanken---format-",
        "summary": "Get Handelsbanken acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsHandelsbanken"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsHandelsbanken"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsHandelsbanken"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsHandelsbanken"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-handelsbanken---format-",
        "summary": "Update Handelsbanken acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsHandelsbanken"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsHandelsbanken"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsHandelsbanken"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsHandelsbanken"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable Handelsbanken payments</p>\n",
                    "type": "boolean"
                  },
                  "identification_code": {
                    "description": "<p>Handelsbanken identification number</p>\n",
                    "type": "string"
                  },
                  "identification_code_int": {
                    "description": "<p>Handelsbanken international identification number</p>\n",
                    "type": "string"
                  },
                  "business_code": {
                    "description": "<p>Business code (assigned by Handelsbanken)</p>\n",
                    "type": "string"
                  },
                  "recurring": {
                    "description": "<p>Enable recurring payments (requires agreement with Handelsbanken)</p>\n",
                    "type": "boolean"
                  },
                  "americanexpress": {
                    "description": "<p>Enable AMEX payments (requires agreement with Handelsbanken)</p>\n",
                    "type": "boolean"
                  },
                  "dinersclub": {
                    "description": "<p>Enable Diners Club payments (requires agreement with Handelsbanken)</p>\n",
                    "type": "boolean"
                  },
                  "securepay": {
                    "description": "<p>Enable SecurePay fraud protection.</p>\n",
                    "type": "boolean"
                  },
                  "visa_mpi_merchant_id": {
                    "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "mastercard_mpi_merchant_id": {
                    "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
                    "type": "string"
                  },
                  "visa_bin": {
                    "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  },
                  "mastercard_bin": {
                    "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
                    "type": "string"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/klarna": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-klarna---format-",
        "summary": "Get Klarna acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarna"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarna"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarna"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarna"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-klarna---format-",
        "summary": "Update Klarna acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarna"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarna"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarna"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarna"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable Klarna payments</p>\n",
                    "type": "boolean"
                  },
                  "eid": {
                    "description": "<p>Klarna merchant ID</p>\n",
                    "type": "integer",
                    "format": "int32"
                  },
                  "shared_secret": {
                    "description": "<p>Klarna shared secret</p>\n",
                    "type": "string"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/klarnapayments": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-klarnapayments---format-",
        "summary": "Get KlarnaPayments acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarnaPayments"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarnaPayments"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarnaPayments"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarnaPayments"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-klarnapayments---format-",
        "summary": "Update KlarnaPayments acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarnaPayments"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarnaPayments"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarnaPayments"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsKlarnaPayments"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable Klarna payments</p>\n",
                    "type": "boolean"
                  },
                  "uid": {
                    "description": "<p>Klarna username</p>\n",
                    "type": "string"
                  },
                  "password": {
                    "description": "<p>Klarna password</p>\n",
                    "type": "string"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/mobilepay": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-mobilepay---format-",
        "summary": "Get MobilePay acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePay"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePay"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePay"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePay"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-mobilepay---format-",
        "summary": "Update MobilePay acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePay"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePay"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePay"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePay"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable MobilePay payments</p>\n",
                    "type": "boolean"
                  },
                  "delivery_limited_to": {
                    "description": "<p>Limit MobilePay delivery address selection to theses countries. (ISO 3166-1 alpha-2 without delimiter ‘DKNOSEFI’) (Valid options are DK,NO,SE,FI)</p>\n",
                    "type": "string"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/mobilepayonline": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-mobilepayonline---format-",
        "summary": "Get MobilePayOnline acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePayOnline"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePayOnline"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePayOnline"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePayOnline"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "tags": [
          "acquirers"
        ],
        "operationId": "PATCH-acquirers-mobilepayonline---format-",
        "summary": "Update MobilePayOnline acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePayOnline"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePayOnline"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePayOnline"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AcquirerSettingsMobilePayOnline"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "description": "<p>Enable MobilePay Online payments</p>\n",
                    "type": "boolean"
                  },
                  "merchant_id": {
                    "description": "<p>Id for the merchant</p>\n",
                    "type": "integer",
                    "format": "int32"
                  },
                  "delivery_limited_to": {
                    "description": "<p>Limit MobilePay Online delivery address selection to theses countries. (ISO 3166-1 alpha-2 without delimiter ‘DKNOSEFI’) (Valid options are DK,NO,SE,FI)</p>\n",
                    "type": "string"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        }
      }
    },
    "/acquirers/mobilepaysubscriptions": {
      "get": {
        "tags": [
          "acquirers"
        ],
        "operationId": "GET-acquirers-mobilepaysubscriptions---format-",
        "summary": "Get MobilePaySubscriptions acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
