{
  "host": "api.quickpay.net",
  "basePath": "/docs/v10/merchant",
  "schemes": ["https"],
  "swagger": "2.0",
  "info": {
    "title": "Quickpay API v10",
    "version": "10.0",
    "description": "<h2 id=\"authorization\">Authorization</h2>\n\n<p>Authorization is done using basic-auth. Authorization can be done with a user or an agreement.</p>\n\n<ul>\n  <li>When authorized with a user one is able to edit own settings, create new merchant or request access to existing merchant.</li>\n  <li>When authorized with an agreement one is able to perform anything on the account that agreement gives permissions to.</li>\n</ul>\n\n",
    "contact": {
      "email": "support@quickpay.net"
    },
    "termsOfService": "http://quickpay.net/terms"
  },
  "tags": [
    {
      "name": "account",
      "description": "Operations about accounts"
    },
    {
      "name": "acl-resources",
      "description": "Operations about acl-resources"
    },
    {
      "name": "acquirers",
      "description": "Operations about acquirers"
    },
    {
      "name": "activity",
      "description": "Operations about activities"
    },
    {
      "name": "agreements",
      "description": "Operations about agreements"
    },
    {
      "name": "brandings",
      "description": "Operations about brandings"
    },
    {
      "name": "cards",
      "description": "Operations about cards"
    },
    {
      "name": "changelog",
      "description": "Operations about changelogs"
    },
    {
      "name": "cryptography",
      "description": "Operations about cryptographies"
    },
    {
      "name": "fees",
      "description": "Operations about fees"
    },
    {
      "name": "fraud-rulesets",
      "description": "Operations about fraud-rulesets"
    },
    {
      "name": "operational-status",
      "description": "Operations about operational-statuses"
    },
    {
      "name": "payment-method-priority",
      "description": "Operations about payment-method-priorities"
    },
    {
      "name": "payments",
      "description": "Operations about payments"
    },
    {
      "name": "payouts",
      "description": "Operations about payouts"
    },
    {
      "name": "ping",
      "description": "Operations about pings"
    },
    {
      "name": "subscription-groups",
      "description": "Operations about subscription-groups"
    },
    {
      "name": "subscriptions",
      "description": "Operations about subscriptions"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "GET-account---format-",
        "summary": "Get merchant account",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10Merchant"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "PATCH-account---format-",
        "summary": "Update merchant account",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Name</p>\n",
            "name": "customer_address[name]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Att</p>\n",
            "name": "customer_address[att]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Street</p>\n",
            "name": "customer_address[street]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>City</p>\n",
            "name": "customer_address[city]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Zip code</p>\n",
            "name": "customer_address[zip_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Region</p>\n",
            "name": "customer_address[region]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Three letter country code according to ISO 3166-1 Alpha-3</p>\n",
            "name": "customer_address[country_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VAT registration number</p>\n",
            "name": "customer_address[vat_no]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Name</p>\n",
            "name": "billing_address[name]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Att</p>\n",
            "name": "billing_address[att]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Street</p>\n",
            "name": "billing_address[street]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>City</p>\n",
            "name": "billing_address[city]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Zip code</p>\n",
            "name": "billing_address[zip_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Region</p>\n",
            "name": "billing_address[region]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Three letter country code according to ISO 3166-1 Alpha-3</p>\n",
            "name": "billing_address[country_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VAT registration number</p>\n",
            "name": "billing_address[vat_no]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Callback url</p>\n",
            "name": "callback_url",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Bambora payments</p>\n",
            "name": "acquirer_settings[bambora][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Bambora identification number</p>\n",
            "name": "acquirer_settings[bambora][identification_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Bambora international identification number</p>\n",
            "name": "acquirer_settings[bambora][identification_code_int]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Bambora)</p>\n",
            "name": "acquirer_settings[bambora][business_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Bambora)</p>\n",
            "name": "acquirer_settings[bambora][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Bambora)</p>\n",
            "name": "acquirer_settings[bambora][americanexpress]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Bambora)</p>\n",
            "name": "acquirer_settings[bambora][dinersclub]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection.</p>\n",
            "name": "acquirer_settings[bambora][securepay]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[bambora][visa_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[bambora][mastercard_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[bambora][visa_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[bambora][mastercard_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable ClearHaus payments</p>\n",
            "name": "acquirer_settings[clearhaus][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Clearhaus API key (is required but may be left empty)</p>\n",
            "name": "acquirer_settings[clearhaus][api_key]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Clearhaus)</p>\n",
            "name": "acquirer_settings[clearhaus][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable payouts (requires agreement with Clearhaus)</p>\n",
            "name": "acquirer_settings[clearhaus][payout]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Apple Pay (requires agreement with Clearhaus)</p>\n",
            "name": "acquirer_settings[clearhaus][apple_pay]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Elavon payments</p>\n",
            "name": "acquirer_settings[elavon][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Elavon identification number</p>\n",
            "name": "acquirer_settings[elavon][identification_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Elavon international identification number</p>\n",
            "name": "acquirer_settings[elavon][identification_code_int]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Elavon)</p>\n",
            "name": "acquirer_settings[elavon][business_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Elavon)</p>\n",
            "name": "acquirer_settings[elavon][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Elavon)</p>\n",
            "name": "acquirer_settings[elavon][americanexpress]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Elavon)</p>\n",
            "name": "acquirer_settings[elavon][dinersclub]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection.</p>\n",
            "name": "acquirer_settings[elavon][securepay]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[elavon][visa_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[elavon][mastercard_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[elavon][visa_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[elavon][mastercard_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Handelsbanken payments</p>\n",
            "name": "acquirer_settings[handelsbanken][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Handelsbanken identification number</p>\n",
            "name": "acquirer_settings[handelsbanken][identification_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Handelsbanken international identification number</p>\n",
            "name": "acquirer_settings[handelsbanken][identification_code_int]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Handelsbanken)</p>\n",
            "name": "acquirer_settings[handelsbanken][business_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Handelsbanken)</p>\n",
            "name": "acquirer_settings[handelsbanken][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Handelsbanken)</p>\n",
            "name": "acquirer_settings[handelsbanken][americanexpress]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Handelsbanken)</p>\n",
            "name": "acquirer_settings[handelsbanken][dinersclub]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection.</p>\n",
            "name": "acquirer_settings[handelsbanken][securepay]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[handelsbanken][visa_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[handelsbanken][mastercard_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[handelsbanken][visa_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[handelsbanken][mastercard_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Klarna payments</p>\n",
            "name": "acquirer_settings[klarna][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Klarna merchant ID</p>\n",
            "name": "acquirer_settings[klarna][eid]",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Klarna shared secret</p>\n",
            "name": "acquirer_settings[klarna][shared_secret]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable MobilePay payments</p>\n",
            "name": "acquirer_settings[mobilepay][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Limit MobilePay delivery address selection to theses countries. (ISO 3166-1 alpha-2 without delimiter ‘DKNOSEFI’) (Valid options are DK,NO,SE,FI)</p>\n",
            "name": "acquirer_settings[mobilepay][delivery_limited_to]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable MobilePay Subscriptions payments</p>\n",
            "name": "acquirer_settings[mobilepaysubscriptions][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Identifier MobilePay Subscriptions uses to link requests to callbacks</p>\n",
            "name": "acquirer_settings[mobilepaysubscriptions][auth_state]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Verifies received code challenge</p>\n",
            "name": "acquirer_settings[mobilepaysubscriptions][code_verifier]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Unix Timestamp of last time the tokens were refreshed</p>\n",
            "name": "acquirer_settings[mobilepaysubscriptions][last_token_refresh]",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Associate client sessions with ID Tokens to mitigate replay attacks</p>\n",
            "name": "acquirer_settings[mobilepaysubscriptions][nonce]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>0: agreement inactive, 1: flow initialised, 2: tokens received, 3: flow completed</p>\n",
            "name": "acquirer_settings[mobilepaysubscriptions][pending_status]",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "formData",
            "description": "<p>The provider / sales-place chosen by the merchant</p>\n",
            "name": "acquirer_settings[mobilepaysubscriptions][provider]",
            "required": false,
            "type": "object"
          },
          {
            "in": "formData",
            "description": "<p>Token to refresh access token for up to 1 year</p>\n",
            "name": "acquirer_settings[mobilepaysubscriptions][refresh_token]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Nets/Teller payments</p>\n",
            "name": "acquirer_settings[nets][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Nets TOF number</p>\n",
            "name": "acquirer_settings[nets][identification_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Nets)</p>\n",
            "name": "acquirer_settings[nets][business_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Nets)</p>\n",
            "name": "acquirer_settings[nets][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Forbrugsforeningen payments (requires agreement with Nets and Forbrugsforeningen)</p>\n",
            "name": "acquirer_settings[nets][fbg1886]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecuredByNets fraud protection.</p>\n",
            "name": "acquirer_settings[nets][secured_by_nets]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>(Depricated; use Teller acquirer)</p>\n",
            "name": "acquirer_settings[nets][identification_code_int]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>(Depricated; use Teller acquirer)</p>\n",
            "name": "acquirer_settings[nets][americanexpress]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>(Depricated; use Teller acquirer)</p>\n",
            "name": "acquirer_settings[nets][dinersclub]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>(Depricated; use Teller acquirer)</p>\n",
            "name": "acquirer_settings[nets][securepay]",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "in": "formData",
            "description": "<p>(Depricated; use Teller acquirer)</p>\n",
            "name": "acquirer_settings[nets][visa_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>(Depricated; use Teller acquirer)</p>\n",
            "name": "acquirer_settings[nets][mastercard_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable PayPal payments</p>\n",
            "name": "acquirer_settings[paypal][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments</p>\n",
            "name": "acquirer_settings[paypal][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Allow credit-card payments. (Only for US/CA/UK merchants)</p>\n",
            "name": "acquirer_settings[paypal][credit_card]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Authentication token</p>\n",
            "name": "acquirer_settings[paypal][token]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Authentication token secret</p>\n",
            "name": "acquirer_settings[paypal][token_secret]",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "description": "<p>Authentication scope</p>\n",
            "name": "acquirer_settings[paypal][scope]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "formData",
            "description": "<p>Enable Sofort payments</p>\n",
            "name": "acquirer_settings[sofort][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Sofort customer number</p>\n",
            "name": "acquirer_settings[sofort][customer_number]",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Sofort Gateway project id</p>\n",
            "name": "acquirer_settings[sofort][project_id]",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Sofort API key</p>\n",
            "name": "acquirer_settings[sofort][api_key]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Sofort Gateway feature</p>\n",
            "name": "acquirer_settings[sofort][gateway]",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "in": "formData",
            "description": "<p>Enable Sofort iDeal feature</p>\n",
            "name": "acquirer_settings[sofort][ideal]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Sofort iDeal project id</p>\n",
            "name": "acquirer_settings[sofort][ideal_project_id]",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Sofort iDeal project password</p>\n",
            "name": "acquirer_settings[sofort][ideal_project_password]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Sofort iDeal notification password</p>\n",
            "name": "acquirer_settings[sofort][ideal_notification_password]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Swedbank payments</p>\n",
            "name": "acquirer_settings[swedbank][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Swedbank identification number</p>\n",
            "name": "acquirer_settings[swedbank][identification_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Swedbank international identification number</p>\n",
            "name": "acquirer_settings[swedbank][identification_code_int]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Swedbank)</p>\n",
            "name": "acquirer_settings[swedbank][business_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Swedbank)</p>\n",
            "name": "acquirer_settings[swedbank][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Swedbank)</p>\n",
            "name": "acquirer_settings[swedbank][americanexpress]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Swedbank)</p>\n",
            "name": "acquirer_settings[swedbank][dinersclub]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection.</p>\n",
            "name": "acquirer_settings[swedbank][securepay]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[swedbank][visa_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[swedbank][mastercard_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[swedbank][visa_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[swedbank][mastercard_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Teller payments</p>\n",
            "name": "acquirer_settings[teller][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Teller TOF number</p>\n",
            "name": "acquirer_settings[teller][identification_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Teller international identification number</p>\n",
            "name": "acquirer_settings[teller][identification_code_int]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Teller)</p>\n",
            "name": "acquirer_settings[teller][business_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Teller)</p>\n",
            "name": "acquirer_settings[teller][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Teller)</p>\n",
            "name": "acquirer_settings[teller][americanexpress]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Teller)</p>\n",
            "name": "acquirer_settings[teller][dinersclub]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection. (disabling requires agreement with Teller)</p>\n",
            "name": "acquirer_settings[teller][securepay]",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[teller][visa_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[teller][mastercard_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Teller VISA acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[teller][visa_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Teller Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[teller][mastercard_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Valitor payments</p>\n",
            "name": "acquirer_settings[valitor][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Valitor identification number</p>\n",
            "name": "acquirer_settings[valitor][identification_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Valitor international identification number</p>\n",
            "name": "acquirer_settings[valitor][identification_code_int]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Valitor)</p>\n",
            "name": "acquirer_settings[valitor][business_code]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Valitor)</p>\n",
            "name": "acquirer_settings[valitor][recurring]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Valitor)</p>\n",
            "name": "acquirer_settings[valitor][americanexpress]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Valitor)</p>\n",
            "name": "acquirer_settings[valitor][dinersclub]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection.</p>\n",
            "name": "acquirer_settings[valitor][securepay]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[valitor][visa_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "acquirer_settings[valitor][mastercard_mpi_merchant_id]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[valitor][visa_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "acquirer_settings[valitor][mastercard_bin]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable ViaBill payments</p>\n",
            "name": "acquirer_settings[viabill][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>ViaBill API key</p>\n",
            "name": "acquirer_settings[viabill][api_key]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable e-conomic integration</p>\n",
            "name": "integration_settings[economic][active]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>e-conomic agreement no.</p>\n",
            "name": "integration_settings[economic][agreement]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>economic agreement grant token</p>\n",
            "name": "integration_settings[economic][agreement_token]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ A</p>\n",
            "name": "pci[saq_a]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ A-EP</p>\n",
            "name": "pci[saq_a_ep]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ B</p>\n",
            "name": "pci[saq_b]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ B-IP</p>\n",
            "name": "pci[saq_b_ip]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ C</p>\n",
            "name": "pci[saq_c]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ C-VT</p>\n",
            "name": "pci[saq_c_vt]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ D Merchant</p>\n",
            "name": "pci[saq_d_merchant]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ D Service Provider</p>\n",
            "name": "pci[saq_d_service_provider]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SAQ P2PE-HW</p>\n",
            "name": "pci[saq_p2pe_hw]",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Add automatic fee on all payments</p>\n",
            "name": "autofee",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Comma separated list of default payment methods</p>\n",
            "name": "default_payment_methods",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Shop URL (deprecated, use shop_urls instead)</p>\n",
            "name": "shop_url",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "description": "<p>Shop URLs</p>\n",
            "name": "shop_urls",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "formData",
            "description": "<p>Contact email</p>\n",
            "name": "contact_email",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Shop name</p>\n",
            "name": "shop_name",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Shop system</p>\n",
            "name": "shopsystem",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<table>\n  <tbody>\n    <tr>\n      <td>Timezone UTC offsets in Zulu (+</td>\n      <td>-)hh:mm</td>\n    </tr>\n  </tbody>\n</table>\n",
            "name": "timezone",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Locale as a two letter language code</p>\n",
            "name": "locale",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Id of default branding</p>\n",
            "name": "default_branding_id",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Timestamp when logging is active</p>\n",
            "name": "logging_stops_at",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Allow test transactions</p>\n",
            "name": "allow_test_transactions",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Default payment language (Two letter language code, ISO-639-1)</p>\n",
            "name": "default_payment_language",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Text to be displayed on cardholder’s statement. Max 22 ASCII chars. Currently supported by Clearhaus only.</p>\n",
            "name": "default_text_on_statement",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Default branding config. Can be overwritten in branding or in request to payment window</p>\n",
            "name": "default_branding_config",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10Merchant"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "delete": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "DELETE-account---format-",
        "summary": "Delete merchant account",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "No content"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/account/private-key": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "GET-account-private-key---format-",
        "summary": "Gets the private key of the merchant",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10PrivateKey"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "PATCH-account-private-key---format-",
        "summary": "Regenerates the private key of the merchant",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10PrivateKey"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/account/04-platform": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "GET-account-04-platform---format-",
        "summary": "Get 04 platform settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10Zero4PlatformSettings"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "delete": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "DELETE-account-04-platform---format-",
        "summary": "Delete 04 platform settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10Zero4PlatformSettings"
            }
          },
          "204": {
            "description": "No content"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/account/logo": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "GET-account-logo---format-",
        "summary": "Gets the merchant logo as a raw download or a 404 if none exists",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "<p>Type of logo</p>\n",
            "name": "logo_type",
            "required": false,
            "type": "string",
            "default": "payment_window",
            "enum": ["payment_window", "mobilepay"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "PUT-account-logo---format-",
        "summary": "Creates or replaces the current merchant logo",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>The logo as a multipart file. If the logo_type is ‘mobilepay’, the logo must be a 250px x 250px PNG file</p>\n",
            "name": "file",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Type of logo</p>\n",
            "name": "logo_type",
            "required": false,
            "type": "string",
            "default": "payment_window",
            "enum": ["payment_window", "mobilepay"]
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Invalid parameters"
          }
        }
      },
      "delete": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["account"],
        "operationId": "DELETE-account-logo---format-",
        "summary": "Deletes the current merchant logo",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "<p>Type of logo</p>\n",
            "name": "logo_type",
            "required": false,
            "type": "string",
            "default": "payment_window",
            "enum": ["payment_window", "mobilepay"]
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/acquirers": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers---format-",
        "summary": "Fetch acquirers",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettings"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/bambora": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-bambora---format-",
        "summary": "Get Bambora acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsBambora"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-bambora---format-",
        "summary": "Update Bambora acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Bambora payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Bambora identification number</p>\n",
            "name": "identification_code",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Bambora international identification number</p>\n",
            "name": "identification_code_int",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Bambora)</p>\n",
            "name": "business_code",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Bambora)</p>\n",
            "name": "recurring",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Bambora)</p>\n",
            "name": "americanexpress",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Bambora)</p>\n",
            "name": "dinersclub",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection.</p>\n",
            "name": "securepay",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "visa_mpi_merchant_id",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "mastercard_mpi_merchant_id",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
            "name": "visa_bin",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "mastercard_bin",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsBambora"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/clearhaus": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-clearhaus---format-",
        "summary": "Get Clearhaus acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsClearhaus"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-clearhaus---format-",
        "summary": "Update Clearhaus acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable ClearHaus payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Clearhaus API key (is required but may be left empty)</p>\n",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Clearhaus)</p>\n",
            "name": "recurring",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable payouts (requires agreement with Clearhaus)</p>\n",
            "name": "payout",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Apple Pay (requires agreement with Clearhaus)</p>\n",
            "name": "apple_pay",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsClearhaus"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/coinify": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-coinify---format-",
        "summary": "Get Coinify acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsCoinify"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-coinify---format-",
        "summary": "Update Coinify acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Coinify Bitcoin payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Coinify API key</p>\n",
            "name": "api_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Coinify API secret</p>\n",
            "name": "api_secret",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Coinify IPN secret (recommended)</p>\n",
            "name": "ipn_secret",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsCoinify"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/elavon": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-elavon---format-",
        "summary": "Get Elavon acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsElavon"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-elavon---format-",
        "summary": "Update Elavon acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Elavon payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Elavon identification number</p>\n",
            "name": "identification_code",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Elavon international identification number</p>\n",
            "name": "identification_code_int",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Elavon)</p>\n",
            "name": "business_code",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Elavon)</p>\n",
            "name": "recurring",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Elavon)</p>\n",
            "name": "americanexpress",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Elavon)</p>\n",
            "name": "dinersclub",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection.</p>\n",
            "name": "securepay",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "visa_mpi_merchant_id",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "mastercard_mpi_merchant_id",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
            "name": "visa_bin",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "mastercard_bin",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsElavon"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/handelsbanken": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-handelsbanken---format-",
        "summary": "Get Handelsbanken acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsHandelsbanken"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-handelsbanken---format-",
        "summary": "Update Handelsbanken acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Handelsbanken payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Handelsbanken identification number</p>\n",
            "name": "identification_code",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Handelsbanken international identification number</p>\n",
            "name": "identification_code_int",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Business code (assigned by Handelsbanken)</p>\n",
            "name": "business_code",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable recurring payments (requires agreement with Handelsbanken)</p>\n",
            "name": "recurring",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable AMEX payments (requires agreement with Handelsbanken)</p>\n",
            "name": "americanexpress",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable Diners Club payments (requires agreement with Handelsbanken)</p>\n",
            "name": "dinersclub",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Enable SecurePay fraud protection.</p>\n",
            "name": "securepay",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>VISA MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "visa_mpi_merchant_id",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard MPI merchant id. Used for 3D secure transactions</p>\n",
            "name": "mastercard_mpi_merchant_id",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>VISA acquirer bin used for 3D Secure</p>\n",
            "name": "visa_bin",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Mastercard acquirer bin used for 3D Secure</p>\n",
            "name": "mastercard_bin",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsHandelsbanken"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/klarna": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-klarna---format-",
        "summary": "Get Klarna acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsKlarna"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-klarna---format-",
        "summary": "Update Klarna acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Klarna payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Klarna merchant ID</p>\n",
            "name": "eid",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Klarna shared secret</p>\n",
            "name": "shared_secret",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsKlarna"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/klarnapayments": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-klarnapayments---format-",
        "summary": "Get KlarnaPayments acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsKlarnaPayments"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-klarnapayments---format-",
        "summary": "Update KlarnaPayments acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Klarna payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Klarna username</p>\n",
            "name": "uid",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Klarna password</p>\n",
            "name": "password",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsKlarnaPayments"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/mobilepay": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-mobilepay---format-",
        "summary": "Get MobilePay acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsMobilePay"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-mobilepay---format-",
        "summary": "Update MobilePay acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable MobilePay payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Limit MobilePay delivery address selection to theses countries. (ISO 3166-1 alpha-2 without delimiter ‘DKNOSEFI’) (Valid options are DK,NO,SE,FI)</p>\n",
            "name": "delivery_limited_to",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsMobilePay"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/mobilepayonline": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-mobilepayonline---format-",
        "summary": "Get MobilePayOnline acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsMobilePayOnline"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-mobilepayonline---format-",
        "summary": "Update MobilePayOnline acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable MobilePay Online payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Id for the merchant</p>\n",
            "name": "merchant_id",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Limit MobilePay Online delivery address selection to theses countries. (ISO 3166-1 alpha-2 without delimiter ‘DKNOSEFI’) (Valid options are DK,NO,SE,FI)</p>\n",
            "name": "delivery_limited_to",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsMobilePayOnline"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/mobilepaysubscriptions": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-mobilepaysubscriptions---format-",
        "summary": "Get MobilePaySubscriptions acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsMobilePaySubscriptions"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-mobilepaysubscriptions---format-",
        "summary": "Update MobilePaySubscriptions acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable MobilePay Subscriptions payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "formData",
            "description": "<p>Identifier MobilePay Subscriptions uses to link requests to callbacks</p>\n",
            "name": "auth_state",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Verifies received code challenge</p>\n",
            "name": "code_verifier",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Unix Timestamp of last time the tokens were refreshed</p>\n",
            "name": "last_token_refresh",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "formData",
            "description": "<p>Associate client sessions with ID Tokens to mitigate replay attacks</p>\n",
            "name": "nonce",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>0: agreement inactive, 1: flow initialised, 2: tokens received, 3: flow completed</p>\n",
            "name": "pending_status",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "formData",
            "description": "<p>The provider / sales-place chosen by the merchant</p>\n",
            "name": "provider",
            "required": false,
            "type": "object"
          },
          {
            "in": "formData",
            "description": "<p>Token to refresh access token for up to 1 year</p>\n",
            "name": "refresh_token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsMobilePaySubscriptions"
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/acquirers/nets": {
      "get": {
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "GET-acquirers-nets---format-",
        "summary": "Get Nets acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuickPayProtocolV10AcquirerSettingsNets"
            }
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "patch": {
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": [
          "application/xml",
          "application/json",
          "application/octet-stream",
          "text/plain"
        ],
        "tags": ["acquirers"],
        "operationId": "PATCH-acquirers-nets---format-",
        "summary": "Update Nets acquirer settings",
        "description": "\n",
        "parameters": [
          {
            "in": "header",
            "description": "<p>Specify the version of the API</p>\n",
            "name": "Accept-Version",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "description": "<p>Use Basic Auth to authorize to the API</p>\n",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "<p>Enable Nets/Teller payments</p>\n",
            "name": "active",
            "required": true,
            "type": "boolean"
          },
          {
[...]
